/*******************style général******************/
body {
	font-size: 16px; 
	color: black;
    font-family: 'Quicksand', sans-serif;
}

a, a:hover {
	text-decoration: none;
	color: #444444;
} 

p {
	color: #444444;
}

li {
	list-style: none;
}

#wrapper {
	width: 75em;
	max-width: 100%;
	margin: 5em auto 5em 18em;
	padding-top: 2.125em;
	background-color: #E8E8E8;
	border-radius: 4em;
}

/***************STYLE de la SIDEBAR du BACK***********************/

.sidenav {
    height: 100%;
    width: 14.625em;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #444444;
    overflow-x: hidden;
    z-index:999;
   
    
}

.sidenav-ul {
	padding: 1em 0;
}


.sidenav-li {
	height: 6.254em;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidenav-li2 {
	height: 3.254em;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
	background-color: rgba(0, 0, 0, 0.5);
}

.sidenav a {
	color: #faf5ea;
}

.sidenav a:hover {
	color: #948870;
}

.sidenav a:focus {
	text-decoration: none;
}

#disconnect2{
	display: none;
}

/******************style page connexion back******************/
.text-hello {
	font-size: 1em;
}

.text-connect {
	font-size: 2em;	
	font-family: 'Abril Fatface', cursive;
}

/******************style page accueil back******************/

.container-edit-admin {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 30em;
}

.container-edit-admin a {
	padding: 0 0 5em 0;
}

.edit-admin {
	margin: 1em 0;
	width: 15.125em;
	height: 15.125em;
	line-height: 15.125em;
	border-radius: 8em;
	font-size: 1.1em;
	background-color: #444444;
	color: white;
}

.edit-admin:hover {
	background-color: #64978E;	
	color: black;
	border: black solid 0.06125em;
}
/******************style page list categories back******************/

.text-add-categ {
	font-size: 1.5em;
}

.text-add-categ:hover {
	color: #64978E;
}

.contain-cub-category {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.cub-category {
	height: 12em;
	width: 12em;
	border: 1px solid black;
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	opacity: 0.7;
}

#cub-add-category {
	display: flex;
	flex-direction: row; 
	align-items: center;
	justify-content: center;
}

.picto_category {
	height: 7em;
	width: 7em;
}

#link-category {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.doubleButton {
	display: none;
}

/***********STYLE DES PAGES ADD AND EDIT CATEGORY****************/

#addinput {
	cursor:pointer;
}



/***********STYLE PAGE COMMENT****************/


.td-action-comment {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.click-action {
	cursor:pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0;
}

#input-reply {
	display: none;
}

#select-delete {
	display: none;
}

.input-margin {
	margin: 0.5em auto;
}

#button-delete {
	margin-top: 3.4em;
}

/***********FIN STYLE PAGE COMMENT****************/

/***********STYLE PAGE MODIFIER CATEGORIE****************/

#display-picto-back {
	height: 6em;
	width: 6em;
}

#display-illus-back {
	height: 6em;
	width: 9em;
}

#display-picture-answer-back {
	height: 6em;
	width: 6em;
}

/*********** FIN STYLE PAGE MODIFIER CATEGORIE****************/

/***********STYLE PAGE AJOUTER  CATEGORIE****************/

#addQuestionCateg {
	cursor: pointer;
}


/***********FIN STYLE PAGE AJOUTER  CATEGORIE****************/