/*******************style général******************/
body {
	font-size: 16px; 
	color: black;
}

a, a:hover {
	text-decoration: none;
} 

li {
	list-style: none;
}

#wrapper {
	width: 75em;
	max-width: 100%;
	margin: 0 auto;
	padding-top: 2.125em;
}

/***************STYLE de la SIDEBAR du BACK***********************/

.sidenav {
    height: 100%;
    width: 15.625em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #404054;
    overflow-x: hidden;
    display: none;
}

.sidenav-ul {
	padding: 1em 0;
}


.sidenav-li {
	height: 6.254em;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidenav-li2 {
	height: 3.254em;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
	background-color: chartreuse;
}

.sidenav a {
	color: white;
}

.sidenav a:hover {
	color: aqua;
}

.sidenav a:focus {
	text-decoration: none;
}

#disconnect2{
	display: none;
}

/******************style page connexion back******************/
.text-hello {
	font-size: 0.875em;
}

.text-connect {
	font-size: 2em;	
}

/******************style page accueil back******************/

.container-edit-admin {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 30em;
}

.edit-admin {
	margin: 1em 0;
	width: 15.125em;
	height: 15.125em;
	line-height: 15.125em;
	border-radius: 8em;
	border: black solid 0.06125em;
}

/******************style page list categories back******************/

.contain-cub-category {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.cub-category {
	height: 12em;
	width: 12em;
	border: 1px solid black;
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}

#cub-add-category {
	display: flex;
	flex-direction: row; 
	align-items: center;
	justify-content: center;
}

.picto_category {
	height: 7em;
	width: 7em;
}

#link-category {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/***********STYLE DES PAGES ADD AND EDIT CATEGORY****************/

.add-question {
	cursor:pointer;
}



/***********STYLE PAGE COMMENT****************/


.td-action-comment {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.click-action {
	cursor:pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0;
}

#input-reply {
	display: none;
}

#select-delete {
	display: none;
}

.input-margin {
	margin: 0.5em auto;
}

#button-delete {
	margin-top: 3.4em;
}

/***********FIN STYLE PAGE COMMENT****************/

/***********STYLE PAGE MODIFIER CATEGORIE****************/

#display-picto-back {
	height: 6em;
	width: 6em;
}

#display-illus-back {
	height: 6em;
	width: 9em;
}