html {
min-height: 100%;
position: relative;
}

body {
margin: 0;
}

ul{
padding: 0;	
list-style: none;
}

p {
	margin: 0;
}

/*******  COPRS DE PAGE  ********/

#wrapper_Questions {
	max-width: 100%;
	padding: 0;
}

#wrapper_Mentions {
	max-width: 100%;
	padding: 0;
}

.conteneur_L{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.conteneur_L h1 {
	width: 40%;
	text-align: center;
	font-size: 5em;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
}

.title_conteneur_L {
	width: 100%;
	height: 100%;
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

}

.title_conteneur_L h1 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 100%;
	font-size: 5em;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
}

#bloc_Questions {
	overflow-y: scroll;
	position: absolute;
	margin-left: 40%;
	width: 60%;
	height: 100%;
}

#bloc_mentions {
	overflow-y: scroll;
	position: absolute;
	margin-left: 40%;
	width: 60%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	color: white;
	font-size: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

#bloc_mentions h2{
	font-size: 1.5em;
	font-weight: bold;
}

#bloc_mentions_apropos{
	overflow-y: scroll;
	position: absolute;
	margin-left: 40%;
	width: 60%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	color: white;
	font-size: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

#bloc_mentions_apropos h2{
	font-size: 1.5em;
	padding-bottom: 2em;
	padding-top: 3em;
	font-weight: bold;
}

.bloc_Question {
	border-top: 0.5em solid #737373;
	display: block;
	cursor : pointer;
	width: 100%;
	height: 25%;
	background-color: black;
	opacity: 0.8;
}

.bloc_Question:hover {
	background-color: black;
	opacity: 0.95;
}


.questions {
	height: 100%;
	width: 100%;
}

.questions p {
	display: flex;
	height: 100%;
	padding: 1em 3em 1em 3em;
	font-weight: bold;
	font-size: 2.5em;
	color: white;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.reponses {
	background-color: white;
	opacity: 0.8;
}

.reponses p {
	padding: 1em 3em 1em 3em;
	text-align: center;
	font-size: 1.3em;
	color: black;
}

.img_reponses {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.bloc_lien-reponse{
	display: block;
	padding-top: 2em;
	padding-bottom: 2em;
}

.lien-reponse{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.lien-reponse a{
	
	font-size: 1.5em;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.lien-reponse a:hover{
	color: #47476b;
}

.affiche_Comments {
	cursor: pointer;
}


.clear {
	clear:both;
}

/*******  FIN COPRS DE PAGE  ********/


/*******  BLOC DEPOT COMMENTAIRE  ********/
.depot_Comment {
	display: none;
	padding-top: 3em;
	background-color: #99c2ff;
	position: absolute;
	margin-left: 40%;
	width: 60%;
	height: 100%;
}
/*******  FIN BLOC DEPOT COMMENTAIRE  ********/




/*******  PAGE COMMENTAIRE  ********/

.wrapper_commentaires {
	max-width: 100%;
}

.contenu_commentaire{
	margin: 0 auto;
	width: 80%;
    height: 97%;
}

.bloc_ok_commentaire{
	display: block;
	height: auto;
}

.list_commentaires {
	display: block;
}
	.name_categorie {
		padding-bottom: 0.8em;
		padding-top: 0.8em;
		text-align: center;
	    font-size: 3em;
	    font-weight: bold;
	    color: #ffffff;
	    text-shadow: 2px 2px 4px #000000;
	}

	.erreur_commentaire {
		font-size: 2em;
		color: white;
		padding-bottom: 3.5em;
		padding-top: 2em;
		text-shadow: 2px 2px 4px #000000;
	}

.ajouter_commentaire {
	display: block;
	padding-top: 2.5em;

}
	#label_commentaire {
		color: white;
	}
/*******  FIN PAGE COMMENTAIRE  ********/


/*******  PAGE PROPOS  ********/



/*******  FIN PAGE PROPOS  ********/

/*******  BOUTON RETOUR  ********/
#toto {
    
   background-color: transparent;
   border:1px solid #cccccc;
   margin: 20px;
   width: 120px;
   height: 50px;
   font-size: 25px;
}

#toto:hover {
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
}

.retour {
   z-index: 789456;
   position: absolute;
    
}
/*******  FIN BOUTON RETOUR  ********/



/*******  REPRISE BOOTSTRAP  ********/
.img-responsive {
    margin: 0 auto;
}

#bloc_mentions_apropos h2 {
    padding-bottom: 0;
}

#padding_center {
    padding-top: 1em;
}

#img_perso {
    padding-left: 20%;
}

.persoB {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	font-size: 1.5em;
}
/******* FIN REPRISE BOOTSTRAP  ********/

.testiminial-block{padding: 10px 0 10px; border-bottom: 1px solid #ccc; dispaly:block; margin:0 0 20px;}
.testimonial-content p{color:#fff; margin: 0 auto;}
.testimonial-author{font-size:1.5em; font-style:italic; color:#fff;}
.bloc_comment_user{background-color: rgba(0, 0, 0, 0.5); margin-bottom: 1em;}

.scroll_comment{
	width: auto;
	max-height: 580px;
	overflow-y: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
display: none;
}

/************************* Media Queries **********************/

@media all and (min-width: 1350px) and (max-width: 1700px){
	.title_conteneur_L h1 {font-size: 3em;}
}

@media all and (min-width: 1200px) and (max-width: 1350px){
	.conteneur_L h1 {font-size: 4em;}
	.title_conteneur_L h1 {font-size: 3em;}
	.questions p {font-size: 2.1em;}
	.lien-reponse a {font-size: 1.2em;}
	.scroll_comment{max-height: 310px;}
	.name_categorie {font-size: 2.5em; padding-bottom: 0.3em; padding-top: 0.3em;}
	.siteNam {padding: 0;}
	.name_categorie {margin-left: 2em;}
	.contenu_commentaire {width: 85%;}
}




@media all and (min-width: 861px) and (max-width: 1200px){
	.conteneur_L h1 {font-size: 3em;}
	.title_conteneur_L h1 {font-size: 2.5em;-webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
	.questions p {font-size: 1.5em;}
	.reponses p {font-size: 1em;}
	.lien-reponse a {font-size: 0.9em;}
	.bloc_mentions_aproposP {font-size: 0.8em;}
	#bloc_mentions {font-size: 0.8em;}
	.name_categorie {font-size: 2.5em; padding-bottom: 0.3em; padding-top: 0.3em;}
	.erreur_commentaire {font-size: 1.5em; padding-top:0.5em; padding-bottom: 1em;}
	.form-horizontal .control-label {padding-top: 0;}
	.persoB {padding-top: 0.2em;padding-bottom: 0.2em;padding-left: 1.2em;padding-right: 1.2em;font-size: 1.1em;}
	.scroll_comment{max-height: 220px;}
}

@media all and (min-width: 450px) and (max-width: 860px){
	.conteneur_L h1 {font-size: 2em;}
	.title_conteneur_L h1 {font-size: 2em; -webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
	.questions p {font-size: 1.2em;}
	.reponses p {font-size: 1em;}
	.lien-reponse a {font-size: 0.8em;}
	.bloc_mentions_aproposP {font-size: 0.8em;}
	#bloc_mentions {font-size: 0.6em;}
	.name_categorie {font-size: 1.2em; padding-bottom: 0.3em; padding-top: 0.2em;}
	.erreur_commentaire {font-size: 0.8em; padding-top:0; padding-bottom: 0.1em;}
	.form-horizontal .control-label {padding-top: 0;}
	.persoB {padding-top: 0.2em;padding-bottom: 0.2em;padding-left: 1em;padding-right: 1em;font-size: 1.1em;}
	.scroll_comment{max-height: 150px;}
}

@media all and (max-width: 450px){
	.conteneur_L h1 {font-size: 0.8em;}
	.questions p {font-size: 0.7em;}
	.reponses p {font-size: 0.6em;}
	.lien-reponse a {font-size: 0.5em; padding-right: 1em;}
	.title_conteneur_L h1 {font-size: 0.8em;-webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
	#bloc_mentions {font-size: 0.3em;}
	.name_categorie {font-size: 1em; padding-bottom: 0.1em; padding-top: 0.1em;}
	.erreur_commentaire {font-size: 0.8em; padding-top:0; padding-bottom: 0s;}
	.form-horizontal .control-label {padding-top: 0;}
	#toto {border:1px solid #cccccc;margin: 20px;width: 70px;height: 35px;font-size: 16px;}
	#img_perso {padding-left: 0;}
	.name_categorie {padding-top: 4em;}
	.wrapper_commentaires {height: auto !important;}
	#bloc_mentions_apropos h2 {font-size: 1em;}
	.bloc_mentions_aproposP {font-size: 0.8em;text-align: center;}
}

/************************* FIN Media Queries **********************/

/*******  FIN PAGE COMMENTAIRE  ********/


