
/*TITRE*/

.headLine{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
}

.hLine {
	font-size: 51px;
}

/*BOUTTON*/

.startBut {
	display: flex; 
	justify-content: center;
	align-items: center;
}

#reset {
	background-color: #ff5252;
	color: white;
	width: 500px;
	height: 100px;
	font-size: 45px;
}

/*FOOTER*/

.bottNav {

    bottom: 0;
    display: block;
    height: 60px;
    font-family: "Replica-Regular", Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    padding-top: 35px;
    z-index: 10
}

.navList a {
	padding: 15px;
}
