

html {
    min-height: 100%;
}

body {
    font-size: 16px;
}

/*TITRE*/


.headLine {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;

}

.hLine {
	font-size: 4em;
    text-indent: 0.135em;
    text-shadow: 2px 2px 4px #000000 ;
}

/*BOUTTON*/

.startBut {
	display: flex; 
	justify-content: center;
	align-items: center;
}

.style-reset {
	background-color: transparent;
    border:1px solid white;
	color: white;
	width: 500px;
	height: 100px;
	font-size: 45px;
}

.style-reset:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: grey;
}

#button-link {
    display: none;
}



/*FOOTER*/

.bottNav {
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 27px;
    font-family: "Replica-Regular", Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    
    z-index: 10
}

.fNav {
    margin-left: 117%;
}

.navList a {
    color: #ffffff;
    padding: 15px;
}

/*Catégories*/

.contai {
    margin: 0 auto;
    width: 75em;
    max-width: 100%;
    min-height: 100%;
}

#secPic {
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 3px solid white;
    border-radius: 3%;
    width: 12.80em;
    height: 12.80em;
}

.siteNam {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20.5em;
}

.namSite {
    font-size: 4em;
    text-indent: 0.135em;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000 ;
}


.dad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.imBox {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 13em;
    height: 13em;
    border: 3px solid #ffffff;
    border-radius: 3%;
    margin: 1.25em;
    
}

.secNam {

    font-size: 1.125em;
    color: #ffffff;
    z-index: 10000;
}

/*Scroll Bar*/

/*.wrappy {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}*/