html {
min-height: 100%;
position: relative;
}

body {
margin: 0;
}

ul{
padding: 0;	
list-style: none;
}

p {
	margin: 0;
}

/*******  COPRS DE PAGE  ********/

#wrapper_Questions {
	max-width: 100%;
	padding: 0;
}

#wrapper_Mentions {
	max-width: 100%;
	padding: 0;
}

.conteneur_L{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.conteneur_L h1 {
	width: 40%;
	text-align: center;
	font-size: 5em;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
}

.title_conteneur_L {
	width: 100%;
	height: 100%;
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

}

.title_conteneur_L h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 100%;
	font-size: 5em;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
}

.bloc_nav_opacity {
	margin-left: 40%;
	width: 60%;
	height: 31px;
	background-color: black;
	position:absolute;
    bottom:0;
    right:0;
    opacity: 0.8;
}

#bloc_Questions {
	overflow-y: scroll;
	position: absolute;
	margin-left: 40%;
	width: 60%;
	height: 97%;
}

#bloc_mentions {
	overflow-y: scroll;
	position: absolute;
	margin-left: 40%;
	width: 60%;
	height: 97%;
	background-color: black;
	opacity: 0.8;
	color: white;
	font-size: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
}

#bloc_mentions h2{
	font-size: 1.5em;
	font-weight: bold;
}

.bloc_Question {
	border-top: 0.5em solid #737373;
	display: block;
	cursor : pointer;
	width: 100%;
	height: 25%;
	background-color: black;
	opacity: 0.8;
}

.questions {
	
	height: 100%;
	width: 100%;
}

.questions p {
	display: flex;
	height: 100%;
	padding: 1em 3em 1em 3em;
	font-weight: bold;
	font-size: 2.5em;
	color: white;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.reponses {
	background-color: white;
	opacity: 0.8;
}

.reponses p {
	padding: 1em 3em 1em 3em;
	text-align: center;
	font-size: 1.3em;
	color: black;
}

.img_reponses {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.bloc_lien-reponse{
	display: block;
	padding-top: 2em;
	padding-bottom: 2em;
}

.lien-reponse{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.lien-reponse a{
	padding-right: 6em;
	font-size: 1.5em;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.lien-reponse a:hover{
	color: #47476b;
}

.affiche_Comments {
	cursor: pointer;
}


.clear {
	clear:both;
}

/*******  FIN COPRS DE PAGE  ********/


/*******  BLOC DEPOT COMMENTAIRE  ********/
.depot_Comment {
	display: none;
	padding-top: 3em;
	background-color: #99c2ff;
	position: absolute;
	margin-left: 40%;
	width: 60%;
	height: 100%;
}
/*******  FIN BLOC DEPOT COMMENTAIRE  ********/



/*******  PAGE COMMENTAIRE  ********/

.commentaire {
	height: 100%;
	width: 100%;
	
}

.contenu_commentaire {
	background-color: unset;
	width: 60%;
	margin: 0 auto;
	height: auto;
	overflow: auto;


}

/*******  FIN PAGE COMMENTAIRE  ********/



/************************* Media Queries **********************/
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1200px) and (max-width: 1600px){
	.conteneur_L h1 {font-size: 4em;}
	.questions p {font-size: 2.1em;}
	.lien-reponse a {font-size: 1.2em;}
}

@media all and (min-width: 861px) and (max-width: 1200px){
	.conteneur_L h1 {font-size: 3em;}
	.questions p {font-size: 1.5em;}
	.reponses p {font-size: 1em;}
	.lien-reponse a {font-size: 0.9em;}
}

@media all and (min-width: 450px) and (max-width: 860px){
	.conteneur_L h1 {font-size: 2em;}
	.questions p {font-size: 1.2em;}
	.reponses p {font-size: 1em;}
	.lien-reponse a {font-size: 0.8em;}
}

/************************* FIN Media Queries **********************/
